<a href="https://colab.research.google.com/github/IsraDC/Clases-de-pyhton/blob/main/01_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Buena praxis</h1>


*   Escribir todo en minuscula
*   No usar numeros y caracteres especiales en las variables
*   si se compone de dos palabras usar guion bajo

In [ ]:
name = 'Israel Alejandro'
user_id = 1234567
progress = 0.75
exp = 60
verified = True

In [ ]:
xp = True
xp = False

print(xp)

False

<h1>Int</h1>
<p>Estos tipos de datos reciben numeros enteros los cuales no aceptan decimales</p>

In [ ]:
'''int'''
year = 2023
age = 17

<h1>float</h1>
hace referencia a un valor numerico que si admite decimales

In [ ]:
'''float'''
pi = 3.141592
apple_cost = 12.99

<h1>string</h1>
un tipo de dato que nos permite alojar textos, estos se deben poner siempre en comillas simples o dobles:

In [ ]:
'''string'''
apellido = 'garcia'
saludo = 'hola'

<h1>Boolean</h1>
estos datos solo almacenan datos de tipo verdadero o falsos

In [ ]:
'''bool'''
aprovado = True
reprobado = False

<h1>Comentario</h1>

In [ ]:
#esto es un comentario

print('Hola mundo')

'''comentario de varias lineas'''

Hola mundo

'comentario de varias lineas'

<h1>Concatenaci√≥n</h1>

In [ ]:
print(name, apellido, age)
print('Esto es un texto: ',verified)

Israel Alejandro garcia 17
Esto es un texto:  True

<h1>Imprimir el tipo de dato</h1>

In [ ]:
print(type('hola mundo')) #string
print(type(5))          #int
print(type(3 + 1j))     #complex
print(type(3.1416))     #float
print(type([1, 2, 3])) # Lista
print(type({name: 'Isra'})) #diccionario
print(type({'name':'Asabeneh'})) # Diccionario

<class 'str'>
<class 'int'>
<class 'complex'>
<class 'float'>
<class 'list'>
<class 'dict'>
<class 'dict'>

<h1>variables en una sola linea</h1>

In [ ]:
name, surname, alias, age = 'Erick', 'Borges', 'Alex', 23
print('Me llamo:', name, surname)
print('Mi edad es:', age, ',Mis amigos me dicen:', alias)

Me llamo: Erick Borges
Mi edad es: 23 ,Mis amigos me dicen: Alex

<h1>Asignar valores por el usuario</h1>

In [ ]:
fist_name = (input('Ingresa tu nombre'))
edad = (input('Ingresa edad'))

print(fist_name, edad)

Ingresa tu nombreisrael
Ingresa edad18
israel 18

<h1>Funciones del sistema</h1>

In [ ]:
#print() = imprime en pantalla
#type() = nos da el tipo de dato a trabajar
#len() = caracteres
#str() = transformar datos

In [ ]:
print(len(name))

5

In [ ]:
my_int_variable = 4
print(my_int_variable )
print(type(my_int_variable ))

new_variable = str(my_int_variable)
print(type(new_variable))

4
<class 'int'>
<class 'str'>