<a href="https://colab.research.google.com/github/IsraDC/Clases-de-pyhton/blob/main/03_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
letra = 'p'                           #una sola letra puede considerarse un string
print(letra)                              
print(len(letra))                     #Podemos calculas su tamaño
saludo = 'Hello, world!'
print(len(saludo))                    #13
oracion = 'hola padrino que haces'
print(len(oracion))
print(type(letra))
print(type(saludo))
print(type(oracion))

También se pude crear strings multilineas haciendo uso de tres pares de comillas dobles

In [1]:
multilinea = ''' pac man original mente se llamba puck man
esto balmkcsjk'''

#otra forma 

multilinea = """pac man original mente se llamba puck man
esto balmkcsjk"""
print(multilinea)

pac man original mente se llamba puck man
esto balmkcsjk

<h1>Secuencias de escape</h1>


*   \n salto linea
*   \t tabulador
*   \ back slash
*   ' single quote
*   * doble quote

In [ ]:
print('ejemplo de salto de linea \nhola')
print('Día\tTemas\tEjercicios')
print('Día 1\t3\t5')
print('este es un simbolo de back slash (\\)')
print('hola mundo \"hello, world\"')

<h1>Strings con variables<h1>

In [6]:
name, surname, alias, age = 'Israel', 'garcia', 'pa', '17'
print('me llamo: ', name, surname)
print('mi edad es:', age, 'mis amigos me dicen: ', alias)
print('hola me llamo {}{} mi edad es {}'.format(name,surname,age))
print('hola me llamo %s %s mi edad es: %s'%(name, surname, age))
print(f'Hola me llamo {name} {surname} y mi edad es: {age}')      #Esta es la mejor forma al escribir las variables en un string

me llamo:  Israel garcia
mi edad es: 17 mis amigos me dicen:  pa
hola me llamo Israelgarcia mi edad es 17
hola me llamo Israel garcia mi edad es: 17
Hola me llamo Israel garcia y mi edad es: 17

In [4]:
lenguaje = 'Python'
a,b,c,d,e,f = lenguaje
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

P
y
t
h
o
n

In [10]:
primer_letra = lenguaje[0]
segunda_letra = lenguaje[1]
tercer_letra = lenguaje[2]
print(primer_letra)
print(segunda_letra)
print(tercer_letra)
print(lenguaje[3])

P
y
t
h

In [19]:
lenguaje = 'Python'             
primeros_tres = lenguaje[0:3]
print(primeros_tres)
ultimos_tres = lenguaje[3:]
print(ultimos_tres)

#otra forma en python
ultimos_tres = lenguaje[-3:]
print(ultimos_tres)
ultimos_tres = lenguaje[:-3]
print(ultimos_tres)

Pyt
hon
hon
Pyt

In [20]:
saludo = 'Hello, world!'
print(saludo[::-1])

!dlrow ,olleH

In [32]:
lenguaje = 'Python'
new = lenguaje[0:6:2]
print(new)

Pto

In [21]:
text = 'alejandro'
print(text.capitalize())

Alejandro

In [ ]:
text = 'aprendiendo python en clase'
print(text.count('a'))
print(text.count('y', 7, 14))
print(text.count('en'))

In [24]:
text = 'aprendiendo python en clase'
print(text.find('y'))
print(text.find('th'))
print(text.find('am'))

13
14
-1

In [27]:
variable  = input('Ingresa una palabra: ')
print(variable[::-1])

Ingresa una palabra: ANITALAVALATINA
ANITALAVALATINA