<a href="https://colab.research.google.com/github/IsraDC/Clases-de-pyhton/blob/main/04_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_list = list()
other_list = []

print(len(my_list))
print(len(other_list))

0
0

<h1>Contar componentes de una lista</h1>

In [ ]:
my_list = [4,5,6,7,8,9]
print(my_list)
print(type(my_list))
print(len(my_list))
print(my_list[0])

other_list = [1, 2.5, 3, 'Isra', 'García']
print(other_list)
print(type(other_list))

print(other_list[0])
print(other_list[-1])
print(other_list[-5])

[4, 5, 6, 7, 8, 9]
<class 'list'>
6
4
[1, 2.5, 3, 'Isra', 'García']
<class 'list'>
1
García
1

In [ ]:
frutas = ['Manzana', 'naranja', 'mango']
print(frutas)
frutas.append('Manzana')
print(frutas)
frutas.append('hola')
print(frutas)
frutas.append(7.5)
print(frutas)

['Manzana', 'naranja', 'mango']
['Manzana', 'naranja', 'mango', 'Manzana']
['Manzana', 'naranja', 'mango', 'Manzana', 'hola']
['Manzana', 'naranja', 'mango', 'Manzana', 'hola', 7.5]

In [ ]:
other_list = [1, 2.5, 3, 'Isra', 'Garcia', 'ptra', 'Garcia']
print(other_list.count('Garcia'))

2

In [ ]:
frutas = ['Manzana', 'naranja', 'mango']
print(frutas)
frutas.insert(2, 'Aguacate')
print(frutas)
frutas.insert(4, 'Aguacate')
print(frutas)
frutas.insert(1, 'Aguacate')
print(frutas)

['Manzana', 'naranja', 'mango']
['Manzana', 'naranja', 'Aguacate', 'mango']
['Manzana', 'naranja', 'Aguacate', 'mango', 'Aguacate']
['Manzana', 'Aguacate', 'naranja', 'Aguacate', 'mango', 'Aguacate']

<h1>Remover componentes de una lista</h1>

In [ ]:
frutas = ['Manzana', 'naranja', 'mango', 'manzana', 'Manzana']
print(frutas)
frutas.remove('Manzana')
print(frutas)
frutas.remove('naranja')
print(frutas)
frutas.remove(frutas[0])
print(frutas)

['Manzana', 'naranja', 'mango', 'manzana', 'Manzana']
['naranja', 'mango', 'manzana', 'Manzana']
['mango', 'manzana', 'Manzana']
['manzana', 'Manzana']

unir listas

In [ ]:
positivos = [1, 2, 3, 4]
cero = [0]
negativos = [-1, -2, -3, -4]
enteros = negativos + cero + positivos
print(enteros)
print(len(enteros))

[-1, -2, -3, -4, 0, 1, 2, 3, 4]
9