<a href="https://colab.research.google.com/github/IsraDC/Clases-de-pyhton/blob/main/05_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>diferencias de una tuple y lista</h1>
nombre y enlazador

In [ ]:
my_tuple = tuple()
other_tuple= ()

In [ ]:
my_tuple = (1, 2.4, 3, 'Isra', 'García', 'aguilar', 'Isra')
print(my_tuple)
print(type(my_tuple))

(1, 2.4, 3, 'Isra', 'García', 'aguilar', 'Isra')
<class 'tuple'>

In [ ]:
print(my_tuple.count('Isra'))

2

In [ ]:
print(my_tuple[0])
print(my_tuple[-1])

1
Isra

<h1>Unir tuples</h1>

In [ ]:
tpl1 = ('item1', 'item2', 'item3')
tpl2 = ('item4', 'item5', 'item6')
tpl3 = tpl1 + tpl2
print(tpl3)

('item1', 'item2', 'item3', 'item4', 'item5', 'item6')

no se puede insertar en una tuple valores inmutables