<a href="https://colab.research.google.com/github/IsraDC/Clases-de-pyhton/blob/main/06_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_set = set()
other_set = {}
print(type(my_set))
print(type(other_set))

<class 'set'>
<class 'dict'>

In [ ]:
other_set = {1, 2.4, 3, 'Isra', 'Garc√≠a', 'aguilar', 'Isra'}
print(type(other_set))

<class 'set'>

In [ ]:
my_set = {'banana', 'naranja', 'mango', 'limon'}
print(len(my_set))
print(my_set)

4
{'naranja', 'limon', 'mango', 'banana'}

In [ ]:
print(my_set)
my_set.add('manzana')
print(my_set)

{'naranja', 'limon', 'mango', 'banana'}
{'mango', 'banana', 'limon', 'naranja', 'manzana'}

In [ ]:
print(my_set)
vegetales = {'tomate', 'papa', 'zanahoria'}
print(vegetales)
my_set.update(vegetales)
print(my_set)

{'mango', 'banana', 'limon', 'naranja', 'manzana'}
{'zanahoria', 'papa', 'tomate'}
{'mango', 'banana', 'papa', 'limon', 'naranja', 'tomate', 'zanahoria', 'manzana'}

no se puede consultar en una posicion como en un array

1.   Elemento de lista
2.   Elemento de lista

In [ ]:
frutas = {'mango', 'manzana', 'uva'}

In [ ]:
print('existe mango', 'mango' in frutas)

existe mango True

In [ ]:
frutas.remove('mango')
print(frutas)

{'uva', 'manzana'}

In [ ]:
frutas = {'mango', 'manzana', 'uva'}
vegetales = {'tomate', 'papa', 'zanahoria'}
print(frutas.union(vegetales))

{'uva', 'mango', 'papa', 'tomate', 'zanahoria', 'manzana'}

In [ ]:
numeros = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
numeros_pares = {2, 4, 6, 8, 10, 12, 14}
print(numeros.intersection(numeros_pares))

{8, 2, 4, 6}